Repository ryandel8834/Preact-WWW, changes with the owners that .github/CODEOWNERS names for each.
All owners: @preactjs/website, @preactjs/docs, @38elements

Add Blaze PWA to full apps list
  content/en/about/demos-examples.md
Owners: @preactjs/docs

Fix typo in preact-testing-library.md
  content/en/guide/v10/preact-testing-library.md
Owners: @preactjs/docs

tweaks ja document
  content/ja/guide/v10/external-dom-mutations.md
  content/ja/index.md
Owners: @38elements

Update BLM banner + add EndSARS
  src/components/controllers/page/campaigns/black-lives-matter.jsx
Owners: @preactjs/website

Fix typo
  content/en/guide/v10/preact-testing-library.md
Owners: @preactjs/docs

Add Hugo to array
  src/assets/we-are-using/hugo.svg
  src/components/we-are-using/index.js
Owners: @preactjs/website

optimize image
  src/assets/we-are-using/hugo.svg
Owners: @preactjs/website

Fix lint error
  src/components/we-are-using/index.js
Owners: @preactjs/website

add TypeScript documentation
  content/en/guide/v10/typescript.md
  src/config.json
Owners: @preactjs/docs, @preactjs/website

update prism to feature TypeScript
  src/lib/prism.js
Owners: @preactjs/website

add component chapter
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

outline for hooks + events doc
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

add content on context and refs
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

finished hooks chapter
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

finish components chapter
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

first draft
  content/en/guide/v10/typescript.md
Owners: @preactjs/docs

Fix typo in preact-testing-library.md
  content/en/guide/v10/preact-testing-library.md
Owners: @preactjs/docs

.github/CODEOWNERS:

/test/ @preactjs/website
/src/ @preactjs/website
/content/en/ @preactjs/docs
/content/ja/ @38elements
